<main role="main" class="inner cover cover-container">
  <modules-albums-shared-title>
    <h1 class="cover-heading title">Cover your page.</h1>
    <p class="lead subtitle">Cover is a one-page template for building simple and beautiful home pages. Download, edit the text, and add your own fullscreen background photo to make it your own.</p>
    <p class="lead title__action">
      <a href="https://getbootstrap.com/docs/4.0/examples/cover/#" class="btn btn-lg btn-secondary">Learn more</a>
    </p>
  </modules-albums-shared-title>
</main>
