<main role="main">

  <section class="jumbotron text-center">
    <div class="container">
      <modules-albums-shared-title>
        <h1 class="jumbotron-heading title">Album example</h1>
        <p class="lead text-muted subtitle">Mauris dapibus nec massa at finibus. Cras ac lacus aliquet, scelerisque mi quis, lobortis mi. Nulla facilisi. Aliquam interdum, libero vitae tempor vestibulum, augue erat congue ligula.</p>
        <p class="title__action">
          <a href="https://getbootstrap.com/docs/4.0/examples/album/#" class="btn btn-primary my-2">Main call to action</a>
          <a href="https://getbootstrap.com/docs/4.0/examples/album/#" class="btn btn-secondary my-2">Secondary action</a>
        </p>
      </modules-albums-shared-title>
    </div>
  </section>

  <div class="album py-5 bg-light">
    <div class="container">

      <div class="row">
        <div class="col-md-4">
          <modules-albums-card></modules-albums-card>
        </div>
        <div class="col-md-4">
          <modules-albums-card></modules-albums-card>
        </div>
        <div class="col-md-4">
          <modules-albums-card description="Maecenas rhoncus mattis nulla, pharetra lobortis turpis vulputate nec. "></modules-albums-card>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <modules-albums-card></modules-albums-card>
        </div>
        <div class="col-md-4">
          <modules-albums-card></modules-albums-card>
        </div>
        <div class="col-md-4">
         <modules-albums-card></modules-albums-card>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <modules-albums-card></modules-albums-card>
        </div>
        <div class="col-md-4">
          <modules-albums-card description="Proin tempor neque massa, laoreet porttitor diam dignissim in. Nunc a volutpat libero, et vehicula nisi. "></modules-albums-card>
        </div>
        <div class="col-md-4">
          <modules-albums-card></modules-albums-card>
        </div>
      </div>

    </div>
  </div>

</main>
